<a href="https://colab.research.google.com/github/Patilpankajsudhakar/GroupNo4--Topic4/blob/main/2038_Assigenment_using_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Stochastics process practical 1 and 2 using python

**Name:-pankaj sudhakar patil 
Rollno:-2038**

#1 Calculate n-step Transition Probability(Chapman-Kolmogrov eq.)

In [ ]:
#Q1
import numpy as np
import pandas as pd
from numpy.linalg import matrix_power as mp
p=np.array([[7,3],[4,6]])/10
alpha=np.array([[.35,.65]])
PT=["p12^2=","p11^4=","p21^10=","p(x5=1)=","p(x8=2)="]
print(mp(p,2)[0,1])
print(mp(p,4)[1,1])

print(mp(p,10)[1,0])

print((alpha.dot(mp(p,5)))[0,0])
print((alpha.dot(mp(p,8)))[0,1])
Pr=[mp(p,2)[0,1],mp(p,4)[1,1],mp(p,10)[1,0],(alpha.dot(mp(p,5)))[0,0],(alpha.dot(mp(p,8)))[0,1]]
pd.DataFrame(Pr,PT)

0.38999999999999996
0.4332
0.5714251971999998
0.5708905
0.42858595649999986

                 0
p12^2=    0.390000
p11^4=    0.433200
p21^10=   0.571425
p(x5=1)=  0.570890
p(x8=2)=  0.428586

In [ ]:
##Q2 
p=np.array([[3,5,1,1],[1,6,1,2],[0,5,5,0],[0,3,2,5]])/10
alpha=np.array([[.1,.2,.3,.4]])
PT=["p11^8=","p22^5=","p(x4=2)=","p(x6=2)="]
print(mp(p,8)[0,0])
print(mp(p,5)[1,1])

print((alpha.dot(mp(p,4)))[0,1])
print((alpha.dot(mp(p,6)))[0,1])
Pr=[mp(p,8)[0,0],mp(p,5)[1,1],(alpha.dot(mp(p,4)))[0,1],(alpha.dot(mp(p,6)))[0,1]]
print(pd.DataFrame(Pr,PT))

0.07250187999999999
0.50588
0.5078400000000001
0.5075842000000002
                 0
p11^8=    0.072502
p22^5=    0.505880
p(x4=2)=  0.507840
p(x6=2)=  0.507584

#2 Realization of Markov Chain

In [ ]:
#Q1
n=4
s=np.arange(1,5)
alpha=np.array([1,2,3,4])/10
P=np.array([[5,5,0,0],[0,3,3,4],[2,2,4,2],[10,0,0,0]])/10
x=[0]*5
x[0]=int(np.random.choice(s,1,replace=False,p=alpha))
for i in np.arange(1,n+1):
  x[i]=int(np.random.choice(s,1,replace=False,p=P[x[i-1]-1,]))

print(x)

[1, 2, 2, 4, 1]

In [ ]:
#Q2
n=4
s=np.arange(1,4)
alpha=np.array([3,5,2])/10
P=np.array([[3,2,5],[2,5,3],[3,4,3]])/10
x=[0]*5
x[0]=int(np.random.choice(s,1,replace=False,p=alpha))
for i in np.arange(1,n+1):
 x[i]=int(np.random.choice(s,1,replace=False,p=P[x[i-1]-1,]))
print(x)

[2, 1, 2, 2, 1]